@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#wrapper {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    max-width: 1920px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #070504;
    width: 100%;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 1px;
}

nav {
    margin: 5px;
}

nav a,
header a {
    color: white;
    margin: 20px;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f8f9;
}

ul {
    list-style-position: inside;
}

#uvod-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center 25%;
}

#uvod-button {
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: white;
    font-size: 2rem;
    padding: 15px;
    background-color: #3b8526;
}

.line {
    border-bottom: 1px solid #070504;
    width: 92%;
    margin: 3vh auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 2vh 5vw;
    gap: 10%;
}

.button:hover {
    cursor: pointer;
}

.select-div {
    display: none;
    justify-content: center;
    margin: 4vh 5vw;
}

.select-div select {
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    padding: 7.5px;
    width: 80vw;
    text-overflow: ellipsis;
}

.button {
    display: flex;
    color: #070504;
    border: 1px solid #070504;
    background-color: #f7f8f9;
    border-radius: 15px;
    padding: 50px 15px;
    font-size: 2rem;
    text-align: center;
}

#clanek-1,
#clanek-4 {
    display: block;
}

#clanek-2,
#clanek-3,
#clanek-5 {
    display: none;
}

#clanek-1,
#clanek-2,
#clanek-3,
#clanek-4,
#clanek-5 {
    width: 90%;
    margin: 2vh auto;
    padding: 10px;
    border: 1px solid #070504;
    border-radius: 15px;
}

#clanek-1 h2,
#clanek-2 h2,
#clanek-3 h2,
#clanek-4 h2,
#clanek-5 h2 {
    text-align: center;
    font-size: 2rem;
}

#article-1-text,
#article-2-text,
#article-3-text,
#article-4-text,
#article-5-text {
    text-align: center;
}

#article-1-text h3,
#article-2-text h3,
#article-3-text h3,
#article-4-text h3,
#article-5-text h3 {
    font-size: 1.5rem;
}

.article-2-rozdily li {
    font-size: 1.2rem;
}

.article-1-odstavec-text p,
.article-2-odstavec-text p,
.article-3-odstavec-text p,
.article-4-odstavec-text p,
.article-5-odstavec-text p {
    margin: 0px 15px 15px;
    font-size: 1.2rem;
}

.article-2-rozdily {
    text-align: left;
    margin: 15px;
}

#clanek-4,
#clanek-5 {
    margin-bottom: 50px;
}

.figure-img img {
    width: 66%;
}

.figure-img {
    margin: 15px;
    color: gray;
}

.preklik {
    color: black;
}

.preklik:hover {
    color: #4e2612;
}

#buttons-modded button {
    font-size: 3rem;
    padding: 1% 5%;
}

#forge-clanek {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

#forge-uvod {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 25%;
    border-radius: 20px;
}

.forge-clanek-text {
    width: 90%;
    margin: 2vh auto;
    padding: 10px;
    border: 1px solid #070504;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.forge-clanek-text p {
    font-size: 1.2rem;
    margin: 5px 15px 15px;
}

#forge-clanek h2 {
    font-size: 3rem;
}

.forge-clanek-odstavec-text h3 {
    font-size: 2rem;
}

#forge-modifikace-dropdown {
    border: none;
    background-color: white;
    color: rgb(8, 8, 179);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#forge-modifikace {
    display: flex;
    flex-wrap: wrap;
    margin: 2vh auto;
    width: 90%;
}

.modifikace {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.modifikace a {
    color: black;
    background-color: white;

}

.modifikace img {
    width: 60%;
    border: 1px solid #070504;
    border-radius: 15px;
}

#forge-verze {
    display: flex;
    flex-direction: column;
}

#forge-verze-select {
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    padding: 7.5px;
    width: 20vw;
    text-overflow: ellipsis;
}

#forge-mdp-1710 {
    display: flex;
}

#forge-mdp-1102,
#forge-mdp-1122,
#forge-mdp-1165,
#forge-mdp-1192 {
    display: none;
}

.forge-modpack {
    width: 25%;
}

.forge-modpack p {
    color: black;
}

.forge-modpack img {
    width: 75%;
}

#fabric-clanek{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fabric-uvod {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 20%;
}

.fabric-clanek-text {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    width: 90%;
}

.fabric-clanek-odstavec-text,
#fabric-clanek-mods {
    margin: 2vh auto;
    padding: 10px;
    border: 1px solid #070504;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.fabric-clanek-odstavec-text {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.fabric-clanek-odstavec-text p {
    font-size: 1.2rem;
    margin: 0px 15px 15px;
}

#fabric-clanek-mods {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#fabric-clanek-mods p {
    font-size: 1.5rem;
    margin: 0px 15px 15px;
}

#fabric-mods {
    display: flex;
    flex-wrap: wrap;
}

.fabric-mod {
    width: 50%;
}

.fabric-mod a {
    color: black;
}

.fabric-mod img {
    width: 50%;
}
#mceternal-clanek{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}
#mceternal-clanek-text{
    display: flex;
    margin: 3vh auto;
    padding: 10px;
    width: 90%;
    border-radius: 15px;
    gap: 5%;
}
#mceternal-clanek-text h2{
    font-size: 2rem;
    margin: 2vh;
}

#mceternal-buttons button{
    font-size: 3rem;
    padding: 15px;
    border-radius: 1rem;
    margin: 15px;
}
#popis{
    background-color: rgb(255, 255, 255);
}
#galerie{
    background-color: rgb(200, 200, 200);
}
.mceternal-clanek-odstavec-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2.5;
    border: 1px solid #070504;
    background-color: white;
    border-radius: 1rem;
}
.mceternal-clanek-odstavec-text p, .mceternal-clanek-odstavec-text li{
    font-size: 1.2rem;
    margin: 5px 15px;
}
.mceternal-clanek-odstavec-text h3{
    font-size: 2rem;
}
.mceternal-clanek-odstavec-text span{
    margin: 15px;
}
.mceternal-clanek-odstavec-text span li{
    text-align: justify;
}
#mceternal-clanek-obrazek{
    display: flex;
    justify-content: flex-end;
    margin: 2vh;
}
#mceternal-clanek-obrazek img{
    border-radius: 1rem;
}
#mceternal-clanek-modlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #070504;
    background-color: white;
    border-radius: 1rem;
    flex: 1;
}

#mceternal-clanek-modlist h3{
    color: rgb(162, 106, 3);
    background-color: white;
    margin: 1rem;
    font-size: 1.5rem;
}
#mceternal-clanek-modlist p{
    font-weight: bold;
}
#modlist-more{
    display: none;
}
#modlist-zobrazit-vice{
    color: #0d37de;
    align-self: flex-end;
    margin: 5px 15px;
    cursor: pointer;
}
#mceternal-select{
    display: none;
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    padding: 7.5px;
    width: 90%;
}
#mceternal-clanek-galerie{
    display: none;
    margin: 3vh auto;
    border: 1px solid #070504;
    padding: 10px;
    width: 90%;
    border-radius: 15px;
    gap: 5%;
}
#mceternal-galerie-fotky{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 10px;
    flex-wrap: wrap;

}
.galerie-fotka{
    display: flex;
    width: 32%;
}
.galerie-fotka img{
    width: 100%;
    border-radius: 1rem;
}
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #070504;
    font-family: 'Poppins', sans-serif;
}

#footer-links {
    margin-top: 25px;
    display: flex
}

#footer-links a {
    margin: 15px;
}

.odkazy a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;
}

#footer-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#footer-text p {
    font-size: 1.5em;
    color: white;
}

@media (min-width:1024px) {
    #uvod-button {
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    header {
        flex-direction: column;
    }

    header nav {
        margin-bottom: 15px;
    }

    .figure-img img {
        width: 100%;
    }

    .modifikace img {
        width: 80%;
    }
    #forge-uvod{
        width: 40%;
    }
    #fabric-uvod{
        width: 35%;
    }

    #fabric-mods {
        flex-direction: column;
        align-items: center;
    }

    .fabric-mod {
        width: 60%;
        margin: 15px;
    }

    .fabric-mod img {
        width: 70%;
    }
    #mceternal-galerie-fotky{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .galerie-fotka{
        width: 85%;
    }
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .figure-img img {
        width: 100%;
    }

    .buttons {
        display: none;
    }

    #forge-uvod{
        width: 45%;
    }

    #forge-modifikace {
        flex-direction: column;
        align-items: center;
    }

    .modifikace {
        width: 50%;
    }

    .modifikace img {
        width: 80%;
    }

    .select-div {
        display: flex;
    }

    .forge-modpacks {
        flex-direction: column;
        align-items: center;
    }

    .forge-modpack {
        width: 90%;
        margin: 15px;
    }

    #forge-verze-select select {
        width: 89vw;
    }

    #fabric-uvod{
        width: 40%;
    }

    .fabric-clanek-text {
        flex-direction: column;
    }

    #fabric-mods {
        flex-direction: column;
        align-items: center;
    }

    .fabric-mod {
        width: 70%;
        margin: 15px;
    }

    .fabric-mod img {
        width: 60%;
    }
    #mceternal-clanek-text{
        flex-direction: column-reverse;
    }
    #mceternal-buttons{
        display: none;
    }
    #mceternal-select{
        display: block;
        margin-top: 15px;
    }
    #mceternal-galerie-fotky{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .galerie-fotka{
        width: 85%;
    }
    #footer-links {
        flex-direction: column;
    }

    #footer-text {
        margin: 15px;
        text-align: center;
    }
}