@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#wrapper {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    max-width: 1920px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #070504;
    width: 100%;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 1px;
}

nav {
    margin: 5px;
}

nav a,
header a {
    color: white;
    margin: 20px;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f8f9;
}

#uvod-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center 25%;
}

#uvod-button {
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: white;
    font-size: 2rem;
    padding: 15px;
    background-color: #3b8526;
}
#line{
    border-bottom: 1px solid #070504;
    width: 92%;
    margin: 2vh auto;
}
#buttons{
    display: flex;
    justify-content: center;
    margin: 2vh 5vw;
    gap: 10%;
}
#select-div{
    display: none;
    justify-content: center;
    margin: 2vh 5vw;
}
#select-div select{
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    padding: 7.5px;
    width: 80vw;
    text-overflow: ellipsis;
}
.button{
    display: flex;
    color: #070504;
    border: 1px solid #070504;
    border-radius: 15px;
    padding: 50px 15px;
    font-size: 2rem;
    text-align: center;
}
#clanek-1{
    display: block;
}
#clanek-2, #clanek-3{
    display: none;
}
#clanek-1, #clanek-2, #clanek-3{
    width: 90%;
    margin: 2vh auto;
    padding: 10px;
    border: 1px solid #070504;
    border-radius: 15px;
}
#clanek-1 h2, #clanek-2 h2{
    text-align: center;
}
#article-1-text, #article-2-text {
    text-align: center;
}
#clanek-1 h2, #clanek-2 h2{
    font-size: 2rem;
}
#article-1-text h3{
    font-size: 1.5rem;
}
#article-1-odstavec-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    gap: 25px;
}
#article-1-odstavec-1 img{
    height: 66%;
    width: 66%;
}
#article-1-odstavec-1 p, .article-1-odstavec-text p{
    font-size: 1.2rem;
}
.article-1-odstavec-text{
    display: flex;
    text-align: center;
    margin: 15px;
    gap: 25px;
}
.article-1-odstavec-text p{
    margin-bottom: 15px;
}
.article-1-odstavec-text img{
    width: 40%;
}
.figure-img img{
    width: 66%;
}
.figure-img{
    margin: 15px;
    color: gray;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #070504;
    font-family: 'Poppins', sans-serif;
}

#footer-links {
    margin-top: 25px;
    display: flex
}

#footer-links a {
    margin: 15px;
}

.odkazy a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;
}

#footer-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#footer-text p {
    font-size: 1.5em;
    color: white;
}

@media (min-width:1024px) {
    #uvod-button {
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    header{
        flex-direction: column;
    }
    header nav{
        margin-bottom: 15px;
    }
    #article-1-odstavec-1 img, .article-1-odstavec-text img, .figure-img img{
        width: 100%;
    }
    .article-1-odstavec-text{
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    header{
        flex-direction: column;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #article-1-odstavec-1 img, .article-1-odstavec-text img, .figure-img img{
        width: 100%;
    }
    .article-1-odstavec-text{
        flex-direction: column;
    }
    #buttons{
        display: none;
    }
    #select-div{
        display: flex;
    }
    #footer-links{
        flex-direction: column;
    }
    #footer-text{
        margin: 15px;
        text-align: center;
    }
}